.voting-data-wrapper{
    padding:8px;
    display: flex;
    align-items: stretch;
}

.voting-data{
    box-shadow: 0 0px 3px 0 white;
    border-radius: 5px;
    padding:8px;
    height: 100%;
    width: 100%;
}

body{
    color:white;
    background:black;
}

*{
    text-align: center;
}

.voting-data:hover{
    cursor:pointer;
    box-shadow: 0 0px 8px 0 white;
}

.text-yellow{
    color:yellow;
}
